<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ url_for('static', filename='scripts.js') }}" defer></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>dragonBallZ</title>
</head>
<body>
    <header>
        <h1>Bienvenue dans l’univers Dragon Ball Z</h1>
        <nav>
            <ul>

                <li><a href="{{ url_for('index') }}">Accueil</a></li>
                <li><a href="{{ url_for('personnages') }}">Les personnages</a></li>
                <li><a href="{{ url_for('tortueGenial') }}">Tortue Géniale</a></li>
            </ul>
        </nav>
    </header>
    <main>
       {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2025 Nicolas tchenio. Tous droits reservés.</p>
    </footer>
</body>
</html>